body{
    margin-top: 150px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(53, 53, 53);
}



.card{
    width:100%;
    max-width: 400px;
    background: linear-gradient(orange,blue);
    padding:40px;
    margin: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius:20px;
}


.input-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    }


#username{
    height:24px;
    width: 100%;
    min-width: 100px;
    border-style: none;
    border-radius:16px;   
    padding:5px; 
    flex:1;
}

#usermark{
    height:24px;
    width: 100%;
    min-width: 100px;
    border-style: none;
    border-radius:16px;   
    padding:5px; 
    margin-left:10px;
    flex:2;
}

#user-button{
    height:24px;    
    border-radius:30px;
    padding:10px;
    border:none;
    display: flex;
    margin-left:10px;
    align-items: center;
    background-color: blue;
    color: white;
    font-family: "poppins",sans-serif;
}

.resultDetails p{
    margin-top:10px;
    font-size: 24px;
    font-family:'poppins', sans-serif;
    color: white;
}